<!-- include header -->
<%- include ('include/_header_q') %> 
<!-- /include header -->



<!-- Main Site -->
<!-- <h1>Answer the following qestions</h1> -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/select-dept"><i class="fas fa-angle-double-left"></i> Select Dep</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h1>Answer the following qestions</h1>
            <!-- <span class="text-light">Use the below form to create a new account</span> -->
        </div>
   
        <!-- add user form      -->
        <%- include('include/_form') %>

    </div>
</main>
<!-- /Main Site -->



<!-- Create Form -->
<!-- <form id="form">

    <div class="form-control">
        <label>
            Are You Satisfied  to our Service?
        </label>

     
        <label for="recommed-1">
            <input type="radio"
                id="recommed-1"
                name="recommed">Yes</input>
        </label>
        <label for="recommed-2">
            <input type="radio"
                id="recommed-2"
                name="recommed">No</input>
        </label>
        <label for="recommed-3">
            <input type="radio"
                id="recommed-3"
                name="recommed">Maybe</input>
        </label>
    </div>

    <div class="form-control">
        <label>
            Are You Satisfied  to our Servicee?
        </label>

        <label for="recommed-4">
            <input type="radio"
                id="recommed-4"
                name="recommedd">Yes</input>
        </label>
        <label for="recommed-5">
            <input type="radio"
                id="recommed-5"
                name="recommedd">No</input>
        </label>
        <label for="recommed-6">
            <input type="radio"
                id="recommed-6"
                name="recommedd">Maybe</input>
        </label>
    </div>

    <div class="form-control">
        <label>
            Are You Satisfied  to our Service?
        </label>

        <label for="recommed-7">
            <input type="radio"
                id="recommed-7"
                name="recommeddd">Yes</input>
        </label>
        <label for="recommed-8">
            <input type="radio"
                id="recommed-8"
                name="recommeddd">No</input>
        </label>
        <label for="recommed-9">
            <input type="radio"
                id="recommed-9"
                name="recommeddd">Maybe</input>
        </label>
    </div>



    <div class="form-control">
        <label for="comment">
            Any comments or suggestions
        </label>

        <textarea name="comment" id="comment"
            placeholder="Enter your comment here">
        </textarea>
    </div>

    <a href="index.html">
        <button type="submit" value="submit">
            Submit
        </button>
    </a>

</form>

 -->





<!-- <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use the below form to create a new account</span>
        </div>

        

    </div>
</main> -->
<!-- /Main Site -->



<!-- include footer -->
<%- include('include/_footer') %> 
<!-- i/nclude footer -->