<%- include('include/_header_analysis')-%>


<div class="container">
    <!-- <div class="box-nav d-flex justify-between">
        <a href="/admin-page" class="border-shadow">
      <span class="text-gradient"><i class="fas fa-angle-double-left"></i>Return Back</span>
      </a>
    </div> -->
    <form>
        <input type="button" value="Return back" onclick="history.back()">
        <!-- onclick="history.back(-1) -->
    </form>
</div>
<div id="chartContainer" style="height: 300px; max-width: 920px; margin: 0px auto;"></div>




<%- include('include/_footer_analysis') %> 

