
<!-- include header -->
<%- include('include/_header_d') %>
<!-- /include header -->


<main id="site-main">
<div class="container">
	<div class="box-nav d-flex justify-between">
		<div class="filter">
			<a href="/"><i class="fas fa-angle-double-left"></i> Home Page</a>
		</div>
	</div>

	<!-- <div class="form-title text-center">
		<h2 class="text-dark">New User</h2>
		<span class="text-light">Use the below form to create a new account</span>
	</div> -->
	<nav>
		<ul>
			<li><a href="#">SELECT ROOM NUMBER :<div id="down-triangle"></div></a>
				<ul class="nbr">
					<li id="navigation-item" onclick="passValuefffr(this)" value="101"><a href="/add-comment" id="fr101" onclick="">FIRST FLOOR ROOM NUMBER 101<div class="circle"></div></a></li>
					<li id="navigation-item" onclick="passValueffsr(this)" value="102"><a href="/add-comment" id="fr102" onclick="passValuefs()">FIRST FLOOR ROOM NUMBER 102<div class="circle"></div></a></li>
					<li id="navigation-item" onclick="passValuesffr(this)" value="201"><a href="/add-comment" id="se201" onclick="passValuesf()">SECOND FLOOR ROOM NUMBER 201<div class="circle"></div></a></li>
					<li id="navigation-item" onclick="passValuesfsr(this)" value="202"><a href="/add-comment" id="se202" onclick="passValuess()">SECOND FLOOR ROOM NUMBER 202<div class="circle"></div></a></li>
					<li id="navigation-item" onclick="passValuetffr(this)" value="301"><a href="/add-comment" id="th301" onclick="passValuetf()">THIRD FLOOR ROOM NUMBER 301<div class="circle"></div></a></li>
					<li id="navigation-item" onclick="passValuetfsr(this)" value="302"><a href="/add-comment" id="th302" onclick="passValuets()">THIRD FLOOR ROOM NUMBER 302<div class="circle"></div></a></li>
					<li id="navigation-item" onclick="passValuefthffr(this)" value="401"><a href="/add-comment" id="se201" onclick="passValuesf()">FORTH FLOOR ROOM NUMBER 401<div class="circle"></div></a></li>
					<li id="navigation-item" onclick="passValuefthfsr(this)" value="402"><a href="/add-comment" id="se202" onclick="passValuess()">FORTH FLOOR ROOM NUMBER 402<div class="circle"></div></a></li>
					<li id="navigation-item" onclick="passValuefifthffr(this)" value="501"><a href="/add-comment" id="th301" onclick="passValuetf()">FIFTH FLOOR ROOM NUMBER 501<div class="circle"></div></a></li>
					<li id="navigation-item" onclick="passValuefifthfsr(this)" value="502"><a href="/add-comment" id="th302" onclick="passValuets()">FIFTH FLOOR ROOM NUMBER 502<div class="circle"></div></a></li>


					<!-- <div id="dip6"><li><a href="/add-comment">Department Six<div class="circle"></div></a></li></div>
					<div id="dip7"><li><a href="/add-comment">Department Seven<div class="circle"></div></a></li></div>
					<div id="dip8"><li><a href="/add-comment">Department Eight<div class="circle"></div></a></li></div>
					<div id="dip9"><li><a href="/add-comment">Department Nine<div class="circle"></div></a></li></div> -->
				
					<!-- <li id="nav1" class="navigation-item"><a href="#" >Nav 1</a></li>
					<li id="nav2" class="navigation-item"><a href="#" >Nav 2</a></li>
					<li id="nav3" class="navigation-item"><a href="#" >Nav 3</a></li>
					<li id="nav4" class="navigation-item"><a href="#" >Nav 4</a></li> -->
					
					
					
				
					<!-- <li><a href="/add-comment">Department Four<div class="circle"></div></a></li>
					<li><a href="/add-comment">Department Five<div class="circle"></div></a></li>
			<li><a href="/add-comment">Department One<div class="circle"></div></a></li>
					<li><a href="/add-comment">Department Two<div class="circle"></div></a></li>
					<li><a href="/add-comment">Department Three<div class="circle"></div></a></li>
					<li><a href="/add-comment">Department Four<div class="circle"></div></a></li>
					<li><a href="/add-comment">Department Five<div class="circle"></div></a></li> -->
				</ul>
			</li>
		</ul>
	</nav>

	

</div>
</main>

<!-- <script>
	$(document).ready(function () {

		$('.navigation-item').on('click', function (e) {
        var currentID = $(this).attr("id");
        console.log(currentID);
        console.log(currentID+" = stored to localStorage");

    });
});
</script> -->


<!-- include footer -->

<%- include('include/_footer_d') %>
<!-- /include footer -->
