   <!-- form handling -->
   <!-- <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light"> Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" placeholder="Fani Man">
        </div>
        <div class="form-group">
          <label for="Email" class="text-light"> Email</label>
          <input type="text" name="email" placeholder="faniman@gmail.com">
      </div>
      <div class="form-group">
          <label for="gender" class="text-light">Gender</label>
          <div class="radio inline">
              <input type="radio" id="radio-2" name="gender" value="Male">
              <label for="radio-2" class="radio-label">Male</label>
          </div>
          <div class="radio inline">
              <input type="radio" id="radio-3" name="gender" value="Female">
              <label for="radio-3" class="radio-label">Female</label>
          </div>
          
      </div>

      <div class="form-group">
          <label for="status" class="text-light">Status</label>
          <div class="radio inline">
              <input type="radio" id="radio-4" name="status" value="Active">
              <label for="radio-4" class="radio-label">Active</label>
          </div>
          <div class="radio inline">
              <input type="radio" id="radio-5" name="status" value="Inactive">
              <label for="radio-5" class="radio-label">Inactive</label>
          </div> 
      </div>

      <div class="form-group">
          <button type="submit" class="btn text-dark update">Save </button>
      </div>
    </div>
 
</form> -->

<form id="form" action="/api/comments" method="POST" >

    <!-- <div class="control-form">
        <label for="dep"><b> Choose Room No: </b></label>
        <select name="dep" id="dep">
        <optgroup label= "First Floor">
            <option value="101">Room 101</option>
            <option value="102">Room 102</option>
        </optgroup>
        <optgroup label="Second Floor">
            <option value="201">Room 201 </option>
            <option value="202">Room 202 </option>
        </optgroup> 
        <optgroup label="Third Floor">
            <option value="301">Room 301</option>
            <option value="302">Room 302</option>      
        </optgroup>
        </select>
    </div> 

    <div class="control-form">
        <label for="dep"><b> Choose Room No: </b></label>
        <select name="dep" id="dep">
        <optgroup label= "First Floor">
            <option value="101">Room 101</option>
            <option value="102">Room 102</option>
        </optgroup>
        <optgroup label="Second Floor">
            <option value="201">Room 201 </option>
            <option value="202">Room 202 </option>
        </optgroup> 
        <optgroup label="Third Floor">
            <option value="301">Room 301</option>
            <option value="302">Room 302</option>      
        </optgroup>
        </select>
    </div>  -->

    <div class="control-formm">
        <label for="dep"><b>Selected Room Number Is:</b></label>
        <!-- <label id="dep"></label> -->
        <textarea name="dep" id="dep" style="resize: none; height: 15px; width: 30px; color: black;" readonly></textarea>
        <!-- <input type="number" id="dep" name="dep" min="1" max="10000"> -->
    </div>

    <!-- <div class="control-form">
        <label for="roomno"><b>Enter Desk No:</b></label>
        <input type="number" id="roomno" name="roomno" min="1" max="10000">
    </di> -->

    
    <div class="control-form">
        <label for="roomno"><b> Choose Desk No: </b></label>
        <select name="roomno" id="roomno">
            <option value="1">Desk No 1</option>
            <option value="2">Desk No 2</option>
            <option value="3">Desk No 3</option>
            <option value="4">Desk No 4</option>
            <option value="5">Desk No 5</option>
        </select>
    </div> 

    <div class="form-control">
        <label>
            <b>Hospitality?</b>
        </label>

        <!-- Input Type Radio Button -->
        <label for="recommed-1">
            <input type="radio"
                id="recommed-1"
                value="3"
                name="question1">Good</input>
        </label>
        <label for="recommed-2">
            <input type="radio"
            value="2"
                id="recommed-2"
                name="question1">Fairly Good</input>
        </label>
        <label for="recommed-3">
            <input type="radio"
            value="1"
                id="recommed-3"
                name="question1">Bad</input>
        </label>
    </div>

    <div class="form-control">
        <label>
            <b>Misconduct?</b>
        </label>

        <!-- Input Type Radio Button -->
        <label for="recommed-4">
            <input type="radio"
                id="recommed-4"
                value="3"
                name="question2">Good</input>
        </label>
        <label for="recommed-5">
            <input type="radio"
            value="2"
                id="recommed-5"
                name="question2">Fairly Good</input>
        </label>
        <label for="recommed-6">
            <input type="radio"
            value="1"
                id="recommed-6"
                name="question2">Bad</input>
        </label>
    </div>


    <div class="form-control">
        <label>
            <b>Satisfaction?</b>
        </label>

        <!-- Input Type Radio Button -->
        <label for="recommed-7">
            <input type="radio"
                id="recommed-7"
                value="3"
                name="question3">Good</input>
        </label>
        <label for="recommed-8">
            <input type="radio"
            value="2"
                id="recommed-8"
                name="question3">Fairly Good</input>
        </label>
        <label for="recommed-9">
            <input type="radio"
            value="1"
                id="recommed-9"
                name="question3">Bad</input>
        </label>
    </div>

    <div class="form-control">
        <label>
            <b>Fraudulence?</b>
        </label>

        <!-- Input Type Radio Button -->
        <label for="recommed-10">
            <input type="radio"
                id="recommed-10"
                value="3"
                name="question4">Good</input>
        </label>
        <label for="recommed-11">
            <input type="radio"
            value="2"
                id="recommed-11"
                name="question4">Fairly Good</input>
        </label>
        <label for="recommed-12">
            <input type="radio"
            value="1"
                id="recommed-12"
                name="question4">Bad</input>
        </label>
    </div>

    
  
<!-- 

    <div class="form-control">
        <label>
            Are You Satisfied  to our Servicee?
        </label>

        <label for="recommed-4">
            <input type="radio"
                id="recommed-4"
                name="recommedd">Yes</input>
        </label>
        <label for="recommed-5">
            <input type="radio"
                id="recommed-5"
                name="recommedd">No</input>
        </label>
        <label for="recommed-6">
            <input type="radio"
                id="recommed-6"
                name="recommedd">Maybe</input>
        </label>
    </div>

    <div class="form-control">
        <label>
            Are You Satisfied  to our Service?
        </label>

        <label for="recommed-7">
            <input type="radio"
                id="recommed-7"
                name="recommeddd">Yes</input>
        </label>
        <label for="recommed-8">
            <input type="radio"
                id="recommed-8"
                name="recommeddd">No</input>
        </label>
        <label for="recommed-9">
            <input type="radio"
                id="recommed-9"
                name="recommeddd">Maybe</input>
        </label>
    </div> -->



    <div class="form-control">
        <label for="comment">
            <b>Any comments or suggestions</b>
        </label>

        <!-- multi-line text input control -->
        <textarea name="comment" id="comment"
            placeholder="Enter your comment here">
        </textarea>
    </div>

    <div>
        <span id="error"></span>

    </div>

    <!-- Multi-line Text Input Control -->
    <!-- <a href="dropdown.html">
        <button type="submit" value="submit">
            Submit
        </button>
        </a> -->

        <!-- onclick="checkCorrectness()" -->
    <button type="submit" value="submit">
        Submit
    </button>
   

</form>
