<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis Page</title>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="/js/analysis.js"></script>
    

</head>
<body>
    
